# Stellar
STELLAR_NETWORK=testnet
HORIZON_URL=https://horizon-testnet.stellar.org
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE=""Test SDF Network ; September 2015""
CONTRACT_ID=""

# Token
ISSUER_SECRET_KEY=""""
VAULT_SECRET_KEY=""""

# IPFS
PINATA_API_KEY=""""
PINATA_SECRET_KEY=""""

# Backend
JWT_SECRET=supersecret123
PORT=3333
DATABASE_URL=./toka.db
